<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Salúdame 3</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
  </head>
  <body class='container'>
    <h1><%= @title %></h1>
    <form action="/form" method="post">
      <input type="text" name="message">
      <input type="submit">
    </form>
  </body>
</html>
